html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 2em;
  height: 2em;
  color: #8D95A4;
}

.icon > .highlight {
  stroke: #fc6d26;
}

.icon .fill-highlight {
  fill: #fc6d26
}

.text-primary {
  color: #fc6d26;
}